@import url('./_visible/error-message_visible.css');

.error-message {
    color: #FF3333;
    font-size: 12px;
    line-height: 15px;
    visibility: hidden;
    min-height: 15px;
    display: block;
  }