@import url('./_hover_fill/card__bookmark_hover_fill.css');
@import url('./_is-active/card__bookmark_is-active.css');

.card__bookmark{
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}

.card__bookmark:hover path {
  stroke: #1A1B22;
  transition: 0.2s ease-in;
}