@import url('./__image/card__image.css');
@import url('./__content/card__content.css');
@import url('./__date/card__date.css');
@import url('./__source/card__source.css');
@import url('./__text/card__text.css');
@import url('./__title/card__title.css');
@import url('./__bookmark/card__bookmark.css');
@import url('./__hint/card__hint.css');
@import url('./__key/card__key.css');

.card {
  max-width: 400px;
  height: 576px;
  padding-bottom: 64px;
  display: block;
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s ease-in;
}

.card:hover {
  box-shadow: 0 0 25px #ccc;
}

.card__bookmark:hover ~ .card__hint_invisible {
  visibility: visible;
}

@media screen and (max-width: 900px) {
  .card {
   justify-self: center;
   height: 420px;
  }
}

@media screen and (max-width: 600px) {
  .card {
   justify-self: center;
   height: 440px;
  }
}
