.card__source {
  display: block;
  margin: 0;
  position: absolute;
  bottom: 24px;
  left: 24px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}