@import url('./_close/header__mobile-button_close.css');
@import url('./_color/header__mobile-button_color_black.css');

.header__mobile-button {
  display: none;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in;
}

@media screen and (max-width: 700px){
  .header__mobile-button {
    display: inline-block;
    position: relative;
    margin-left: auto;
    background-color: transparent;
    border: none;
    width: 26px;
    height: 20px;
  }

  .header__mobile-button::before,
  .header__mobile-button::after {
  display: block;
	position: absolute;
	content: '';
  width: 16px;
  height: 2px;
	background-color:#fff;
  }

  .header__mobile-button::before {
    top: 5px;
  }

  .header__mobile-button::after {
    top: 11px;
  }

}

