@import url('./__title/search__title.css');
@import url('./__content/search__content.css');
@import url('./__description/search__description.css');
@import url('./__form/search__form.css');
@import url('./__input/search__input.css');
@import url('./__button/search__button.css');

.search {
  /* min-height: 576px; */
  background-image: url(../../../images/SearchBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-position: center;
}

/* @media screen and (max-width: 900px) {
  .search {
    min-height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    min-height: 536px;
  }
} */